body {
    background-color: #090909;
    padding: 45px;

}

.images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 55px;
    max-width: 1200px;
    margin: 0 auto;
}

.images img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.images img:hover {
    transform: scale(1.13);
}

